1) Load Data:
    Feature Engineering with Weather Data

In [1]:
import pandas as pd

In [5]:
# Ruta al archivo CSV
file_path = file_path = r'C:\Users\asanchezbelb\Desktop\WAREHOUSE\data_jena_climate_2009_2016\jena_climate_2009_2016.csv'

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(file_path, header=0, index_col=0)

df.head()

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
Date Time,,,,,,,,,,,,,,
01.01.2009 00:10:00,996.52,-8.02,265.40,-8.90,93.3,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
01.01.2009 00:20:00,996.57,-8.41,265.01,-9.28,93.4,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
01.01.2009 00:30:00,996.53,-8.51,264.91,-9.31,93.9,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
01.01.2009 00:40:00,996.51,-8.31,265.12,-9.07,94.2,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
01.01.2009 00:50:00,996.51,-8.27,265.15,-9.04,94.1,3.27,3.08,0.19,1.92,3.09,1309.00,0.32,0.63,214.3

Fecha y hora: Referencia de fecha y hora en el formato dd.mm.aaaa hh:mm:ss.

p (mbar): 996.52 mbar (milibar). El milibar es la unidad derivada del SI de presión utilizada para cuantificar la presión interna. Los informes meteorológicos suelen indicar la presión atmosférica en milibares.

T (degC): -8.02 grados Celsius. La temperatura en grados Celsius.

Tpot (K): 265.4 Kelvin. La temperatura en grados Kelvin.

Tdew (degC): -8.9 grados Celsius. La temperatura en grados Celsius en relación con la humedad. El punto de rocío es una medida de la cantidad absoluta de agua en el aire; el punto de rocío es la temperatura a la cual el aire no puede retener toda la humedad y el agua se condensa.

rh (%): 93.3%. La humedad relativa es una medida de cuán saturado está el aire con vapor de agua; el %HR determina la cantidad de agua contenida en objetos de colección.

VPmax (mbar): 3.33 mbar. La presión de vapor de saturación.

VPact (mbar): 3.11 mbar. La presión de vapor.

VPdef (mbar): 0.22 mbar. La deficiencia de presión de vapor.

sh (g/kg): 1.94 g/kg. La humedad específica.

H2OC (mmol/mol): 3.12 mmol/mol. La concentración de vapor de agua.

rho (g/m^3): 1307.75 g/m^3. Densidad del aire.

wv (m/s): 1.03 m/s. Velocidad del viento.

max. wv (m/s): 1.75 m/s. Velocidad máxima del viento.

wd (deg): 152.3 grados. Dirección del viento en grados.

In [8]:
def report(df):
    print("Nulos en el DataFrame:")
    print(df.isnull().sum())
    
    print("\nForma del DataFrame:")
    print(df.shape)
    
    print("\nTipos de datos en el DataFrame:")
    print(df.dtypes)
    
    print("\nDescripción del DataFrame:")
    print(df.describe().T)


report(df)

Nulos en el DataFrame:
p (mbar)           0
T (degC)           0
Tpot (K)           0
Tdew (degC)        0
rh (%)             0
VPmax (mbar)       0
VPact (mbar)       0
VPdef (mbar)       0
sh (g/kg)          0
H2OC (mmol/mol)    0
rho (g/m**3)       0
wv (m/s)           0
max. wv (m/s)      0
wd (deg)           0
dtype: int64

Forma del DataFrame:
(420551, 14)

Tipos de datos en el DataFrame:
p (mbar)           float64
T (degC)           float64
Tpot (K)           float64
Tdew (degC)        float64
rh (%)             float64
VPmax (mbar)       float64
VPact (mbar)       float64
VPdef (mbar)       float64
sh (g/kg)          float64
H2OC (mmol/mol)    float64
rho (g/m**3)       float64
wv (m/s)           float64
max. wv (m/s)      float64
wd (deg)           float64
dtype: object

Descripción del DataFrame:
                    count         mean        std      min      25%      50%  \
p (mbar)         420551.0   989.212776   8.358481   913.60   984.20   989.58
T (degC)         420551.0     9.450147   8.423365   -23.01     3.36     9.42
Tpot (K)         420551.0   283.492743   8.504471   250.60   277.43   283.47
Tdew (degC)      420551.0     4.955854   6.730674   -25.01     0.24     5.22
rh (%)           420551.0    76.008259  16.476175    12.95    65.21    79.30
VPmax (mbar)     420551.0    13.576251   7.739020     0.95     7.78    11.82
VPact (mbar)     420551.0     9.533756   4.184164     0.79     6.21     8.86
VPdef (mbar)     420551.0     4.042412   4.896851     0.00     0.87     2.19
sh (g/kg)        420551.0     6.022408   2.656139     0.50     3.92     5.59
H2OC (mmol/mol)  420551.0     9.640223   4.235395     0.80     6.29     8.96
rho (g/m**3)     420551.0  1216.062748  39.975208  1059.45  1187.49  1213.79
wv (m/s)         420551.0     1.702224  65.446714 -9999.00     0.99     1.76
max. wv (m/s)    420551.0     3.056555  69.016932 -9999.00     1.76     2.96
wd (deg)         420551.0   174.743738  86.681693     0.00   124.90   198.10

                     75%      max
p (mbar)          994.72  1015.35
T (degC)           15.47    37.28
Tpot (K)          289.53   311.34
Tdew (degC)        10.07    23.11
rh (%)             89.40   100.00
VPmax (mbar)       17.60    63.77
VPact (mbar)       12.35    28.32
VPdef (mbar)        5.30    46.01
sh (g/kg)           7.80    18.13
H2OC (mmol/mol)    12.49    28.82
rho (g/m**3)     1242.77  1393.54
wv (m/s)            2.86    28.49
max. wv (m/s)       4.74    23.50
wd (deg)          234.10   360.00